.catalogo-container{
    display: flex;
    flex-direction: column;
    margin: 0 20% 0 20%;
    font-size: 2rem;
    text-align: center;
}

.catalogo-img{
    width: 50%;
}

.catalogo-form input{
    width: 100%;
    font-size: 2rem;
}

.catalogo-form label{
    font-size: 2rem;
}

#boton{
    font-size: 2rem;
    min-width: 20vw;
    margin: 3rem 0;
    background-color: lightskyblue;
    border: 2px black solid;
    border-radius: 10px;
    cursor: pointer;
}

.catalogo-img{
    border: 5px black solid;
    border-radius: 50px;
}