.cuenta-container{
display: flex;
flex-direction: column;
justify-content: center;
width: 80%;
margin: 0 auto;
min-height: 50vh;
}

.cuenta-div{
    width: 100%;
    height: 90vh;
}

.cuenta-div p{
    font-size: 3rem;
    margin: 5% 0;
}

.cuenta-div a{
    text-decoration: none;
}

.cuenta-boton{
    color: black;
    background-color: lightseagreen;
    font-size: 3rem;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.cuenta-boton:visited{
    color: black;
}

.button {
 font-size: 2rem;
 cursor: pointer;
 text-decoration: none;
 background-color: white;
 display: inline-block;
 padding: 12px 24px;
 border: 2px solid #4f4f4f;
 border-radius: 4px;
 transition: all 0.2s ease-in;
 position: relative;
 overflow: hidden;
 color: black;
 z-index: 1;
}

.button:before {
 content: "";
 position: absolute;
 left: 50%;
 transform: translateX(-50%) scaleY(1) scaleX(1.25);
 top: 100%;
 width: 140%;
 height: 180%;
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 50%;
 display: block;
 transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
 z-index: -1;
}

.button:after {
 content: "";
 position: absolute;
 left: 55%;
 transform: translateX(-50%) scaleY(1) scaleX(1.45);
 top: 180%;
 width: 160%;
 height: 190%;
 background-color: rgb(0, 69, 69);
 border-radius: 50%;
 display: block;
 transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
 z-index: -1;
}

.button:hover {
 color: #ffffff;
 border: 2px solid #39bda7;
}

.button:hover:before {
 top: -35%;
 background-color: #39bda7;
 transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
 top: -45%;
 background-color: darkcyan;
 transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}