.cuenta-container{
display: flex;
flex-direction: column;
justify-content: center;
width: 80%;
margin: 0 auto;
min-height: 50vh;
}

.cuenta-div{
    width: 100%;
    height: 90vh;
}

.cuenta-div p{
    font-size: 3rem;
    margin: 5% 0;
}

.cuenta-div a{
    font-size: 3rem;
    text-decoration: none;
}

.cuenta-boton{
    color: black;
    background-color: lightseagreen;
    font-size: 3rem;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.cuenta-boton:visited{
    color: black;
}