.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 80px;
    overflow-y: auto;
}

.main-div-principal {
    margin-top: 20vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-div-principal h1{
    font-size: 3rem;
    margin: 2rem 0;
}

.main-div-principal p{
    font-size: 2rem;
    margin: 2rem 0;
}

.boton-estilo {
    text-decoration: none;
    border: solid 2px black;
    border-radius: 10px;
    padding: 1rem;
    display: block;
    cursor: pointer;
    background-color: lightskyblue;
}
