.form-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin: 1rem 0;
}

.form-container{
  margin: 1rem 1rem;
}

.form-container input{
    width: 100%;
    height: 3rem;
    font-size: 2rem;
}

.form-container label{
    font-size: 3rem;
}

/* #submit-button {
    font-size: 2rem;
    min-width: 20vw;
    margin: 3rem 0;
    background-color: lightskyblue;
    border: 2px black solid;
    border-radius: 10px;
    cursor: pointer;
} */

.cuenta-creada{
    text-align: center;
    font-size: 2rem;
    color: rgb(175, 38, 38);
}

.mensaje{
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 768px){

}

/* --- */

.input {
    background-color: #ffffff;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus{
    outline: none;
    border-color: #05060f;
}

.input:focus {
    color: #05060fc2;
}