.pedido-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 110vh;
    max-width: 50vw;
}

.pedido-atributo{
    font-size: 2rem;
    font-weight: bold;
}

/* .pedido-boton{
    background-color: lightseagreen;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5%;
    cursor: pointer;
} */

.pedidos-p{
    font-size: 2rem;
    font-weight: bold;
}

.pedidos-a{
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}

.pedido-div2{
    text-align: center;
    margin: 20% 0;
    width: 100%;
    height: 100%;
}

.pedido-mensaje{
    text-align: center;
    font-size: 2rem;
}

/* --- */

.button {
 font-size: 2rem;
 cursor: pointer;
 text-decoration: none;
 background-color: white;
 display: inline-block;
 padding: 12px 24px;
 border: 2px solid #4f4f4f;
 border-radius: 1.5rem;
 transition: all 0.2s ease-in;
 position: relative;
 overflow: hidden;
 color: black;
 z-index: 1;
}

.button:before {
 content: "";
 position: absolute;
 left: 50%;
 transform: translateX(-50%) scaleY(1) scaleX(1.25);
 top: 100%;
 width: 140%;
 height: 180%;
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 50%;
 display: block;
 transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
 z-index: -1;
}

.button:after {
 content: "";
 position: absolute;
 left: 55%;
 transform: translateX(-50%) scaleY(1) scaleX(1.45);
 top: 180%;
 width: 160%;
 height: 190%;
 background-color: rgb(0, 69, 69);
 border-radius: 50%;
 display: block;
 transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
 z-index: -1;
}

.button:hover {
 color: #ffffff;
 border: 2px solid #39bda7;
}

.button:hover:before {
 top: -35%;
 background-color: #39bda7;
 transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
 top: -45%;
 background-color: darkcyan;
 transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* --- */

.card {
    width: 100%;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 5px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    margin-bottom: 2rem;
}

.card-button {
    display: flex;
    transform: translate(-50%, 125%);
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.card:hover {
    border-color: #2a9d8f;
    box-shadow: 0 4px 100px 30px rgba(0, 0, 0, 0.25);
}

.card:hover .card-button{
    transform: translate(-50%, 50%);
    opacity: 1;
}
